<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="icon" href="favicon.png?n=1" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta
      itemprop="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
    <meta
      itemprop="image"
      content="<%= htmlWebpackPlugin.options.image %>"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://randomrants-plus.onrender.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta
      property="og:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      property="og:image"
      content="<%= htmlWebpackPlugin.options.image %>"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta
      name="twitter:description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <meta
      name="twitter:image"
      content="<%= htmlWebpackPlugin.options.image %>"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  </head>
  <body>
    <!--No script error in case JavaScript is disabled-->
    <noscript>
      <div
        style="
          position: fixed;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          background: #b8b8b8;
          color: var(--main-text-color);
          font-family: arial;
        "
      >
        <div style="
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 12px 12px;
          box-sizing: border-box;
          background: white;
          border-radius: 10px;
        ">
          <h1 style="text-align: center;">No JavaScript!</h1>
          <span>
            Please enable JavaScript to use Random Rants +.<br />
            Without it, this page is just a boring blank screen.<br />
            We need this to show you interactive content. <br />
          </span>
        </div>
      </div>
    </noscript>
  </body>
</html>
